/*abstracts*/
/*color*/
/*fonts*/
/*base*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: "Poppins", sans-serif; }

li {
  list-style: none; }

a {
  color: #000000;
  text-decoration: none; }

button {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 14px; }

:root {
  scroll-behavior: smooth; }

/*layout*/
.header {
  width: 100%;
  height: 100vh;
  position: relative; }

/*components*/
.about-me {
  margin: 60px 0; }
  .about-me__img .about-img-container {
    width: 320px;
    height: 420px;
    margin: 20px auto;
    border-radius: 50px; }
    .about-me__img .about-img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .about-me__info {
    padding: 0 15px; }
    .about-me__info .info-box h2 {
      font-size: 2rem; }
    .about-me__info .info-box h4 {
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: #999999; }
    .about-me__info .info-box p {
      opacity: 0.8; }
      .about-me__info .info-box p span {
        font-weight: 700; }
    .about-me__info .info__buttons {
      display: flex;
      gap: 15px;
      margin: 30px 0 10px 0; }

/*Estilado de las progress bar*/
.skills .progress-bar {
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px 0; }
  .skills .progress-bar__fill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fill-animated 2s forwards reverse ease;
    border-radius: 5px;
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 8px;
    height: 100%;
    overflow: hidden; }
    .skills .progress-bar__fill span {
      animation: fade-in 1400ms forwards ease-in;
      position: relative; }
  .skills .progress-bar:nth-child(1) .progress-bar__fill {
    width: 100%; }
  .skills .progress-bar:nth-child(2) .progress-bar__fill {
    width: 100%; }
  .skills .progress-bar:nth-child(3) .progress-bar__fill {
    width: 15%; }

@keyframes fill-animated {
  to {
    width: 0%; } }

@keyframes fade-in {
  0% {
    opacity: 0;
    bottom: -22px; }
  80% {
    opacity: 0;
    bottom: -22px; }
  100% {
    opacity: 100%;
    bottom: 0px; } }

.primary-button {
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  padding: 10px 30px;
  color: #FFFFFF;
  font-weight: 500;
  transition: all 350ms ease-in-out; }
  .primary-button:hover {
    color: #000000;
    background-color: #FFFFFF; }

.secondary-button {
  border: 2px solid #000000;
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px 30px;
  color: #000000;
  font-weight: 500;
  transition: all 450ms ease-in-out; }
  .secondary-button:hover {
    color: #FFFFFF;
    background-color: #000000; }

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative; }
  .hero-container__bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: brightness(0.6) contrast(0.85); }
    .hero-container__bg-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
  .hero-container__caption {
    color: #FFFFFF;
    text-align: center;
    position: relative; }
    .hero-container__caption h2 {
      font-size: 3rem; }
    .hero-container__caption p {
      font-size: 1.8rem;
      font-weight: 300; }
      .hero-container__caption p span {
        font-weight: 600; }
  .hero-container__social-media {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    position: relative; }
    .hero-container__social-media li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      background-color: #000000;
      opacity: 0.7;
      transition: opacity 250ms; }
      .hero-container__social-media li i {
        font-size: 0.9rem;
        color: #FFFFFF; }
      .hero-container__social-media li:active {
        opacity: 1; }
      .hero-container__social-media li:hover {
        opacity: 1; }

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 15px;
  position: absolute;
  z-index: 99; }
  .navbar-container__logo {
    width: 60px;
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFFFFF; }
  .navbar-container__menu-icon {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background-image: url(../../assets/icons/menu_black_24dp.svg); }
    .navbar-container__menu-icon:checked {
      background-image: url(../../assets/icons/close_black_24dp.svg); }
  .navbar-container__nav--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 0px;
    width: 100%;
    top: 68px;
    left: 0;
    background-color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    opacity: 0.5;
    transition: all 250ms ease-out; }
  .navbar-container__menu-icon:checked + .navbar-container__nav--mobile {
    height: 220px;
    opacity: 1; }

.links-container__link {
  margin: 6px 0; }
  .links-container__link .selected {
    border-bottom: 2px solid #000000; }

.portfolio__title {
  font-size: 2.4rem;
  text-align: center;
  margin: 60px;
  position: relative;
  z-index: 2; }
  .portfolio__title::before {
    content: '';
    background-image: url("/assets/images/dots.png");
    height: 30px;
    width: 100%;
    position: relative;
    display: inline-block;
    bottom: -80px;
    z-index: -1; }

.portfolio__navbar {
  display: flex;
  justify-content: center;
  gap: 12px; }
  .portfolio__navbar button {
    font-weight: 700; }
  .portfolio__navbar .selected {
    border-bottom: 2px solid #000000; }

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-auto-rows: 280px;
  gap: 20px;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto; }
  .portfolio__container .portfolio-item {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 5px; }
    .portfolio__container .portfolio-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1; }
    .portfolio__container .portfolio-item__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      margin: 5px;
      opacity: 0;
      transition: all 250ms ease-in; }
      .portfolio__container .portfolio-item__info h3 {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        margin-bottom: 10px; }
  .portfolio__container .portfolio-item:hover .portfolio-item__info {
    opacity: 1; }

.link-icon-container {
  display: flex;
  gap: 5px; }
  .link-icon-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    background-color: #000000;
    opacity: 0.7;
    transition: opacity 250ms; }
    .link-icon-container li i {
      font-size: 0.9rem;
      color: #FFFFFF; }
    .link-icon-container li:active {
      opacity: 1; }
    .link-icon-container li:hover {
      opacity: 1; }

.services {
  width: 100%;
  background-color: #f7f7f7;
  padding: 10px 15px 60px; }
  .services__title {
    font-size: 2.4rem;
    text-align: center;
    margin: 60px;
    position: relative;
    z-index: 2; }
    .services__title::before {
      content: '';
      background-image: url("/assets/images/dots.png");
      height: 30px;
      width: 100%;
      position: relative;
      display: inline-block;
      bottom: -80px;
      z-index: -1; }
  .services__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    gap: 20px;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto; }

.services-item {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 20px 15px; }
  .services-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #f7f7f7;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 350ms; }
    .services-item__icon i {
      font-size: 1.8rem; }
    .services-item__icon:hover {
      background-color: #000000; }
      .services-item__icon:hover i {
        color: #f7f7f7; }
  .services-item__title {
    margin: 15px 0;
    text-align: center; }

.testimonials {
  background-color: #f7f7f7; }
  .testimonials__title {
    font-size: 2.4rem;
    text-align: center;
    margin: 60px;
    position: relative;
    z-index: 2; }
    .testimonials__title::before {
      content: '';
      background-image: url("/assets/images/dots.png");
      height: 30px;
      width: 100%;
      position: relative;
      display: inline-block;
      bottom: -80px;
      z-index: -1; }
  .testimonials__container {
    max-width: 1100px;
    display: flex;
    gap: 60px;
    padding: 40px 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 auto; }

.testimonial-card {
  width: 310px;
  min-width: 310px;
  text-align: center; }
  .testimonial-card__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto; }
    .testimonial-card__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .testimonial-card__testimonial {
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182; }
  .testimonial-card__name {
    font-size: 16px;
    font-weight: 600;
    margin: 30px 0 5px;
    text-transform: capitalize; }
  .testimonial-card__position {
    font-size: 12px;
    font-weight: 600;
    color: #888888;
    margin-bottom: 30px; }
